.social-login {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.google-btn {
  background: #fff;
  color: #000;
  padding: 12px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.github-btn {
  background: #24292f;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}
